<a href="https://colab.research.google.com/github/pradeepA51511/B-27.PDS---1511/blob/main/LAB_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

customers = pd.DataFrame({
    'customer_id': [1, 2, 3, 4, 5],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'city': ['Hyderabad', 'Bangalore', 'Hyderabad', 'Chennai', 'Bangalore']
})

transactions = pd.DataFrame({
    'transaction_id': [101, 102, 103, 104, 105, 106, 107],
    'customer_id': [1, 2, 3, 1, 4, 5, 2],
    'amount': [250, 400, 150, 300, 500, 200, 100]
})

merged = pd.merge(transactions, customers, on='customer_id')
customer_spend = merged.groupby(['customer_id', 'name'])['amount'].sum().reset_index()
city_spend = merged.groupby('city')['amount'].sum().reset_index()
top_spender = customer_spend.loc[customer_spend['amount'].idxmax()]

print("Merged Dataset:\n", merged, "\n")
print("Customer Spend:\n", customer_spend, "\n")
print("City-wise Spend:\n", city_spend, "\n")
print("Top Spender:\n", top_spender, "\n")

Merged Dataset:
    transaction_id  customer_id  amount     name       city
0             101            1     250    Alice  Hyderabad
1             102            2     400      Bob  Bangalore
2             103            3     150  Charlie  Hyderabad
3             104            1     300    Alice  Hyderabad
4             105            4     500    David    Chennai
5             106            5     200      Eva  Bangalore
6             107            2     100      Bob  Bangalore

Customer Spend:
    customer_id     name  amount
0            1    Alice     550
1            2      Bob     500
2            3  Charlie     150
3            4    David     500
4            5      Eva     200

City-wise Spend:
         city  amount
0  Bangalore     700
1    Chennai     500
2  Hyderabad     700

Top Spender:
 customer_id        1
name           Alice
amount           550
Name: 0, dtype: object

In [ ]:
import pandas as pd

patients = pd.DataFrame({
    'patient_id': [1, 2, 3, 4, 5],
    'name': ['Ravi', 'Anita', 'Kiran', 'Sita', 'Manoj'],
    'age': [30, 45, 25, 40, 35]
})

appointments = pd.DataFrame({
    'appointment_id': [201, 202, 203, 204, 205, 206, 207, 208],
    'patient_id': [1, 2, 3, 1, 4, 5, 1, 2],
    'doctor': ['Dr. Rao', 'Dr. Meena', 'Dr. Rao', 'Dr. Rao', 'Dr. Meena', 'Dr. Sharma', 'Dr. Rao', 'Dr. Sharma']
})

merged = pd.merge(appointments, patients, on='patient_id')
patient_visits = merged.groupby(['patient_id', 'name'])['appointment_id'].count().reset_index(name='visits')
doctor_workload = merged.groupby('doctor')['appointment_id'].count().reset_index(name='appointments_handled')
top_patient = patient_visits.loc[patient_visits['visits'].idxmax()]

print("Merged Dataset:\n", merged, "\n")
print("Patient Visits:\n", patient_visits, "\n")
print("Doctor Workload:\n", doctor_workload, "\n")
print("Patient with Maximum Visits:\n", top_patient, "\n")

Merged Dataset:
    appointment_id  patient_id      doctor   name  age
0             201           1     Dr. Rao   Ravi   30
1             202           2   Dr. Meena  Anita   45
2             203           3     Dr. Rao  Kiran   25
3             204           1     Dr. Rao   Ravi   30
4             205           4   Dr. Meena   Sita   40
5             206           5  Dr. Sharma  Manoj   35
6             207           1     Dr. Rao   Ravi   30
7             208           2  Dr. Sharma  Anita   45

Patient Visits:
    patient_id   name  visits
0           1   Ravi       3
1           2  Anita       2
2           3  Kiran       1
3           4   Sita       1
4           5  Manoj       1

Doctor Workload:
        doctor  appointments_handled
0   Dr. Meena                     2
1     Dr. Rao                     4
2  Dr. Sharma                     2

Patient with Maximum Visits:
 patient_id       1
name          Ravi
visits           3
Name: 0, dtype: object